.projects h1{
  color: #ff5823;
  font-family:"Poppins-ExtraBold";
  margin-top: 6vh;
}
.projects h2{
  color: aliceblue;
}
h3{
  color: aliceblue;
  font-size: 18px;
  margin:0; 
}
.credentials{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.usercredentials p{
  font-size: 15px;
  color: #ff5823;
  margin:0;
}
.admincredentials p{
  font-size: 15px;
  color: #ff5823;
  margin: 0;
}
.usercredentials{
  font-family: "Poppins-Thin";
  margin-left: 8vw;
}
.admincredentials{
  font-family: "Poppins-Thin";
 margin-left: 30vw;
}
.fproject-list-container{
  display: flex;
  flex-direction: row;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.fproject-specs{
display: inline-flex;
align-items: center;
padding-left: 1vw;
}
.fproject-summary{
  margin: 0;
}
.fproject-name{
    font-family: "Poppins-Thin";
    font-size: 24px;
  }
.fview-icon i{
    color: aliceblue;
    font-size: 11px;
    padding-top: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
  }
  .fview-icon i:hover{
    color: #ff5823;
    transform: scale(1.09);
  }
  button{
    font-size: 2vh;
    padding-top: 0vh;
    padding-right: 1vh;
    padding-left: 1vh;
  }
  button:hover{
    background-color:#ff5823;
    transform:scale(1.09);
  }
  .fproject-poster{
    width:400px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
  }
  .fproject-container{
    margin:2vw;
    width: 400px;
  }
  .fproject-summary{
    color:#ff5823; 
    font-family:"Poppins-Black";
    font-size: 3vh;
  }
  
    .project-list-container{
      display: flex;
      flex-direction: row;
      align-items: space-evenly;
      flex-wrap: wrap;
    }
    
    .project-specs{
    display: inline-flex;
    align-items: center;
    padding-left: 1vw;
    }
    .project-summary{
      margin: 0;
    }
    .project-name{
        font-family: "Poppins-Thin";
        font-size: 24px;
      }
    .view-icon i{
        color: aliceblue;
        font-size: 11px;
        padding-top: 1vh;
        padding-right: 1vh;
        padding-left: 1vh;
      }
      
      .view-icon i:hover{
        color: #ff5823;
        transform: scale(1.09);
      }
      .project-poster{
        width:400px;
        height: 200px;
        border-radius: 5%;
        object-fit: cover;
      }
      .project-container{
        margin:2vw;
        width:400px;
      }
      .project-summary{
        color:#ff5823; 
        font-family:"Poppins-Black";
        font-size: 3vh;
      }